<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Birthrite</title>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
                integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
                crossorigin="anonymous"
                referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        {% block styles %}
            <link
                    href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
                    rel="stylesheet"
            />
            <link
                    rel="stylesheet"
                    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=celebration"
            />
            {{ bootstrap.load_css() }}
        {% endblock %}
        {% block script %}
            <script src="/static/js/script.js" defer></script>
        {% endblock %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <div class="nav-header">
            <span class="material-symbols-outlined"> celebration </span>
            <p class="nav-title">Birthrite</p>
        </div>
        <ul class="nav-links">
            <li class="nav-link">
                <a class="links" href="#">Home</a>
            </li>
            <li class="nav-link">
                <a class="links" href="#">About Us</a>
            </li>
            <li class="nav-link">
                <a class="links" href="#">Services</a>
            </li>
            <li class="nav-link">
                <a class="links" href="#">Blog</a>
            </li>
            <li class="nav-link">
                <div class="nav-btn">
                    <a class="links" href="#">Request a quote</a>
                </div>
            </li>
        </ul>
    </nav>
</header>
<main>
{% block content %}
{% endblock %}
</main>

<footer>
      <div class=""></div>
    </footer>
  </body>
</html>