<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Birthrite</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=celebration"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-header">
          <span class="material-symbols-outlined"> celebration </span>
          <p class="nav-title">Birthrite</p>
        </div>
        <ul class="nav-links">
          <li class="nav-link">
            <a class="links" href="#">Home</a>
          </li>
          <li class="nav-link">
            <a class="links" href="#">About Us</a>
          </li>
          <li class="nav-link">
            <a class="links" href="#">Services</a>
          </li>
          <li class="nav-link">
            <a class="links" href="#">Blog</a>
          </li>
          <li class="nav-link">
            <div class="nav-btn">
              <a class="links" href="#">Request a quote</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero-section">
        <div class="hero-text">
          <h1 class="hero-title">
            Making your birthday a success. Let's make your come to life
          </h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad at
            impedit a itaque veniam, quo officia libero cumque provident,
            voluptates nesciunt praesentium tempora eius aspernatur non
            explicabo? Saepe, minus repellendus?
          </p>
          <button role="button" type="button" class="hero-btn">
            Book our services
          </button>
        </div>
        <img
          src="https://images.unsplash.com/photo-1513546493312-0066d7de3fd2?q=80&w=370&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
          class="hero-image"
        />
      </section>
      <section class="companies-section">
        <div class="company">
          <i class="fa-brands fa-amazon fa-2xl"></i>
          <p class="company-text">Amazon</p>
        </div>
        <div class="company">
          <i class="fa-brands fa-notion fa-2xl"></i>
          <p class="company-text">Notion</p>
        </div>
        <div class="company">
          <i class="fa-brands fa-dribbble fa-2xl"></i>
          <p class="company-text">dribble</p>
        </div>
        <div class="company">
          <i class="fa-brands fa-hubspot fa-2xl"></i>
          <p class="company-text">hubspot</p>
        </div>
      </section>
      <section class="services-section">
        <div class="service-writing">
          <h2 class="services-header">Services</h2>
          <p class="services-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
            architecto blanditiis, consequatur dolores excepturi in, ratione
            reprehenderit id possimus tenetur magni quia optio. Cum id qui magni
            ratione aliquid maiores!
          </p>
        </div>
        <div class="services">
          <div class="service">
            <div class="service-text">
              <h3 class="service-header">
                <span class="service-wrapper">Search Enigine Optimisation</span>
              </h3>
              <div class="learn-more">
                <div class="learn-more-icon">
                  <i
                    class="fa-solid fa-arrow-up"
                    style="transform: rotate(30deg)"
                  ></i>
                </div>
                <p>Learn more</p>
              </div>
            </div>
            <img
              src="https://images.unsplash.com/vector-1762541291924-8b1ba27cd39c?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              width="300px"
            />
          </div>
          <div class="service">
            <div class="service-text">
              <h3 class="service-header">
                <span class="service-wrapper">Search Enigine Optimisation</span>
              </h3>
              <div class="learn-more">
                <div class="learn-more-icon">
                  <i
                    class="fa-solid fa-arrow-up"
                    style="transform: rotate(30deg)"
                  ></i>
                </div>
                <p>Learn more</p>
              </div>
            </div>
            <img
              src="https://images.unsplash.com/vector-1762541291924-8b1ba27cd39c?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              width="300px"
            />
          </div>
          <div class="service">
            <div class="service-text">
              <h3 class="service-header">
                <span class="service-wrapper">Search Enigine Optimisation</span>
              </h3>
              <div class="learn-more">
                <div class="learn-more-icon">
                  <i
                    class="fa-solid fa-arrow-up"
                    style="transform: rotate(30deg)"
                  ></i>
                </div>
                <p>Learn more</p>
              </div>
            </div>
            <img
              src="https://images.unsplash.com/vector-1762541291924-8b1ba27cd39c?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              width="300px"
            />
          </div>
          <div class="service">
            <div class="service-text">
              <h3 class="service-header">
                <span class="service-wrapper">Search Enigine Optimisation</span>
              </h3>
              <div class="learn-more">
                <div class="learn-more-icon">
                  <i
                    class="fa-solid fa-arrow-up"
                    style="transform: rotate(30deg)"
                  ></i>
                </div>
                <p>Learn more</p>
              </div>
            </div>
            <img
              src="https://images.unsplash.com/vector-1762541291924-8b1ba27cd39c?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              width="300px"
            />
          </div>
          <div class="service">
            <div class="service-text">
              <h3 class="service-header">
                <span class="service-wrapper">Search Enigine Optimisation</span>
              </h3>
              <div class="learn-more">
                <div class="learn-more-icon">
                  <i
                    class="fa-solid fa-arrow-up"
                    style="transform: rotate(30deg)"
                  ></i>
                </div>
                <p>Learn more</p>
              </div>
            </div>
            <img
              src="https://images.unsplash.com/vector-1762541291924-8b1ba27cd39c?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              width="300px"
            />
          </div>
          <div class="service">
            <div class="service-text">
              <h3 class="service-header">
                <span class="service-wrapper">Search Enigine Optimisation</span>
              </h3>
              <div class="learn-more">
                <div class="learn-more-icon">
                  <i
                    class="fa-solid fa-arrow-up"
                    style="transform: rotate(30deg)"
                  ></i>
                </div>
                <p>Learn more</p>
              </div>
            </div>
            <img
              src="https://images.unsplash.com/vector-1762541291924-8b1ba27cd39c?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              width="300px"
            />
          </div>
        </div>
      </section>
      <section class="free-proposal-section">
        <div class="free-proposal-text">
          <h4 class="free-proposal-header">Let’s make things happen</h4>
          <p class="free-proposal-paragraph">
            Contact us today to learn more about how our digital marketing
            services can help your business grow and succeed online.
          </p>
          <div class="free-proposal-btn">Get your free proposal</div>
        </div>
        <img src="/static/assets/images/Illustration.png" class="free-proposal-img" />
      </section>
    </main>
    <footer>
      <div class=""></div>
    </footer>
  </body>
</html>
